@font-face {
  font-family: 'My Font';
  src: url("../fonts/JosefinSans-Italic.ttf")
}

/* .title, .subtitle {
  font-family: 'My Font';
} */

@font-face {
  font-family: 'Happy Font';
  src: url("../fonts/LoveYaLikeASister.ttf");
}

.hero, .hero .title, .hero .subtitle {
  font-family: 'Happy Font';
  background: #daf4fa;
}

.happy {
  font-family: 'Happy Font';
}

@keyframes blink {
  /*50% {
    color: transparent;
  }*/
  0% {
    opacity: 1
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1
  }
}


@media screen and (min-width: 768px) {
  .column .card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  article.modal-content {
    width: calc(40% - 1rem);
  }
  .columns .column {
    margin: 0 .75em
  }
  .navbar-brand > .navbar-item:hover {
    animation: .3s blink 3 alternate;
  }
}

main {
  transition: all .3s ease-out;
}

.is-flex .image > img {
  box-shadow: 4px 10px 8px rgba(0, 0, 0, .4);
  transition: all linear 0.5s;
}

.is-flex .image > img:hover {
  transform: rotate(360deg) scale(1.4, 1.4);
}


nav.navbar {
  height: 3.25rem
}

.placeholder {
  filter: blur(10px);
  transform: scale(1);
  pointer-events: none;
}

img[data-action] {
  transition: all .5s ease-out;
}
img.loaded {
  filter: blur(0);
  pointer-events: auto;
}
